.App {
  text-align: center;
  background-color: #FFFDD0;
  margin-bottom: 8%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFDD0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  margin-right: auto;
  margin-left: auto;
  align: center;
  border: 1vw solid #f3f3f3;
  border-radius: 50%;
  border-top: 1vw solid #1a9900;
  width: 5vw;
  height: 5vw;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.geodasher {
  font-family: 'Shrikhand';
  color: #67b55c;
  font-size: 10vmin;
}

.world {
  height: 10vmin;
  width: 10vmin;
}

.nav {
  background-color: #67b55c;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  height: 12%;
  width: 100%;
}

.nav i {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.0vw 10vw;
  text-decoration: none;
  font-size: 7vmin;
 }

 .route-card {
   height:10vw;
   width:50vw;
   background-color: #7dabf0;
   margin-bottom: 3vw;
 }

 li p {
   font-size: 1vw;
 }

 li[type=past] {
   padding-top: 1.2vw;
   list-style-type: none;
 }

 li[type=active] {
   padding-top: 2.6vw;
   list-style-type: none;
 }

 li[type=other] {
   padding-top: 2.6vw;
   list-style-type: none;
 }

a:hover {
  color: none;
  text-decoration: none;
}
